*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: blueviolet;
}
body{
    background-image: url(study1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}